/build/
/libs/
/.gradle/4.0.2/taskHistory/taskHistory.lock
/.gradle/4.0.2/taskHistory/taskHistory.bin
/.gradle/checksums/sha1-checksums.bin
/.gradle/checksums/md5-checksums.bin
/.gradle/4.0.2/fileChanges/last-build.bin
/.gradle/vcs-1/gc.properties
/.gradle/4.0.2/taskHistory/fileSnapshots.bin
/.gradle/4.0.2/fileHashes/fileHashes.lock
/.gradle/4.0.2/fileHashes/fileHashes.bin
/.gradle/4.0.2/fileContent/fileContent.lock
/.gradle/checksums/checksums.lock
/.gradle/buildOutputCleanup/cache.properties.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/built.bin
